.g-deposition-container
  h1.g-deposition-title
    | Deposition

  .g-deposition-content
    .g-deposition-content-header
      .g-deposition-content-header-left
        h2.g-deposition-content-header-title
          = metadata.title
      .g-deposition-content-header-right
        .g-deposition-content-header-right-item
          a(href="#/depositions")
            i(class="fa-solid fa-arrow-left")
            | Back to Depositions

    .g-deposition-content-body
      .g-deposition-content-body-left
        .g-deposition-content-body-left-item
          .g-deposition-info-line
            i.icon-doc
            span.test-muted= 'IGSN: '
            span.g-info-type= deposition.get("igsn")
          .g-deposition-info-line
            i.icon-doc
            span.test-muted= 'Description: '
            span.g-info-type= metadata.description
          if metadata.creators.length > 0
            .g-deposition-info-line
              h3
                | Creators:
            for creator in metadata.creators
              .g-deposition-info-line
                i.icon-user
                span.test-muted= creator.role + ': '
                span.g-info-type= creator.firstName + ' ' + creator.lastName + ' (' + creator.identifiers + ')'
          if metadata.attributes && metadata.attributes.alternateIdentifiers.length > 0
            .g-deposition-info-line
              h3
                | Alternate Identifiers:
            for identifier in metadata.attributes.alternateIdentifiers
              .g-deposition-info-line
                i.icon-doc
                span.test-muted= identifier.alternateIdentifierType + ': '
                span.g-info-type= identifier.alternateIdentifier
          if metadata.relatedIdentifiers.length > 0
            .g-deposition-info-line
              h3
                | Related Identifiers:
            for identifier in metadata.relatedIdentifiers
              .g-deposition-info-line
                i.icon-doc
                span.test-muted= identifier.relationType + ': '
                a(href=identifier.relatedIdentifier)
                  span.g-info-type= identifier.relatedIdentifier
              if identifier.relatedMetadataScheme
                .g-deposition-info-line
                  i.icon-doc-text
                  span.test-muted
                    | Schema: 
                  a(href=identifier.relatedMetadataScheme)
                    span.g-info-type= identifier.relatedMetadataScheme
        .g-deposition-content-body-left-item

      .g-deposition-content-body-right
        .g-deposition-content-body-right-item(v-if="isAdmin")
          h3.g-deposition-content-body-right-item-title
            | Admin Actions
          button.g-button(@click="deleteDeposition")
            | Delete Deposition
