.g-form-header

  .g-form-actions
      button.g-new-entry.btn.btn-sm.btn-success(title="Add new entry")
        i.icon-plus
        | New entry
      .btn-group
        button.g-export-form.btn.btn-sm.btn-success.dropdown-toggle(
          title="Export form" data-toggle="dropdown")
            i.icon-download
            | Export
            i.icon-down-dir
        ul.g-export-menu.dropdown-menu.pull-right(role="menu")
          li(role="presentation")
            a.g-export-form-as-csv(target='_blank', href=form.exportForm("csv")) Export as CSV
          li(role="presentation")
            a.g-export-form-as-xls(target='_blank', href=form.exportForm("xlsx")) Export as XLSX
      button.g-import-form.btn.btn-sm.btn-warning(title="Import form")
        i.icon-upload
        | Import
      button.g-access-form.g-edit-access.btn.btn-sm.btn-warning(title="Access control")
        i.icon-lock
        | Access control

  .g-form-name.g-body-title= form.name()
  if form.get('description')
    .g-form-description!= renderMarkdown(form.get('description'))
  .g-clear-right

.g-form-entries-container
