.g-deposition-list-header
  .g-deposition-pagination

  .btn-group
    .g-filter-depositions
      a.g-filter-options-button.btn.btn-sm(title="Show filter help")
        i.g-filter-state.icon-filter
      input.g-filter-field.form-control.input-sm(
        type="text", placeholder="Search name via regex...", mode-select="off")

  .g-deposition-actions
    button.g-deposition-create-button.btn.btn-sm.btn-success
      i.icon-plus
      | Create New IGSN

.list-group.g-deposition-list-container
  each deposition in depositions
    a.list-group-item.g-execute-deposition-link(
        href=depositionUrlFunc && depositionUrlFunc(deposition),
        data-deposition-id=deposition.id)
      h4.list-group-item-heading.g-execute-deposition-link-header= deposition.attributes.igsn
      each description in deposition.attributes.metadata.descriptions
        if description.descriptionType === 'Abstract'
          .list-group-item-text.g-execute-deposition-link-body= description.description
